body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background-image: url(../public/glassesImage/background.jpg);
  background-size: cover;
  background-position: center top;
}
.model{
  position: relative;
}
.model img{
    height: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.glassList{
  background-color: white;
  margin-top: 20px;
  border: 1px solid green;
}
.glassList img{
    width: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.glass{
    width: 180px;
    height: 75px;
    position: absolute;
    top: 100px;
    left: 43.5%;
    z-index: 10;
    opacity: 0.9;
}
